.page-loader {
  &__item {
    position: absolute;
    width: 10%;
    aspect-ratio: 1;
    background-color: cyan;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    text-align: center;
    translate: -50% -50%;
    
    &_1 {
    }
    &_2 {
    }
    &_3 {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        color: white;
        font-weight: bold;
        display: inline;
        content: 'Loading...';
        z-index: 100;
      }
    }

  }
}